<style>
    body{
        background-color: yellow;
        border: 40px solid red ;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
    }
    
</style>


<h1>Bob's Burgers</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-planid="{{this.id}}" class="delBurger">Delete Burger!</button>
        </p>
    </li>
    {{/each}}
</ul>
<h1>Burgers that you already ate</h1>

<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    <li class='eatenBurger'>
        {{this.id}}
            {{this.burger_name}}
       
            <button data-planid="{{this.id}}" class="eatBurger">Devour Burger!</button>
    </li>
    {{/if}}
    {{/each}}
</ul>





<h2>Add a Burger</h2>
<form id="createBurger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">add burger</button>
</form>


{{!-- this part will delete the burger --}}
<script type="text/javascript">
    $(".delBurger").on("click", function (event) {
        var id = $(this).data("planid")


        $.ajax("/burgers/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("DELETED ID", id);
                location.reload();
            }
        )
    })

    //this part will create a new burger
    $('#createBurger').on("submit", function (event) {
        event.preventDefault();
        var newBurger = {
            plan: $("#createBurger [name=burger]").val().trim()

        }
        $.ajax("/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new BURGER!");
                location.reload();
            }
        )
    })
//update the burger devour boolean
    $('.eatBurger').on('click', function (event) {
        event.preventDefault();
        var id = $("[name=id]").val().trim()

        var updatedBurger = {
            burgers: $(".eatenBurger [name=plan]").val().trim()
        }
        $.ajax('/burgers/' + id, {
            type: 'PUT',
            data: updatedBurger
        }).then(
            function () {
                console.log('updated the id', id);
                location.reload();
            }
        )
    })
</script>