<style>
    body{
        background-color: yellow;
        border: 40px solid red ;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="burgerCol1">
            <h1>Bob's Burgers</h1>
        </div>
        <div class="col-xs-6 text-center" class="burgerDisplay">
            <div clas="row">

                {{#each burgers}}
                {{#unless devoured}}

                <p>
                    {{this.id}}. {{this.burger_name}}

                    <button type="submit" data-burgerid="{{this.id}}" class="eatBurger">Devour Burger!</button>
                    <button data-burgerid="{{this.id}}" class="delBurger">Delete Burger!</button>
                </p>

                {{/unless}}
                {{/each}}

                <h1>Burgers that you already ate</h1>


                {{#each burgers}}
                {{#if this.devoured}}
                <p class='eatenBurger'>
                    {{this.id}}
                    {{this.burger_name}}


                    <button data-burgerid="{{this.id}}" class="delBurger">Delete Burger!</button>
                </p>
                {{/if}}
                {{/each}}

            </div>
            <h2>Add a Burger</h2>
            <form id="createBurger" class="button-size">
                <textarea type="text" name="burger"></textarea>

                <button type="submit" class="btn btn-danger">ADD BURGER</button>
            </form>
        </div>
    </div>
</div>





{{!-- this part will delete the burger --}}
<script type="text/javascript">
    $(".delBurger").on("click", function (event) {
        var id = $(this).data("burgerid")


        $.ajax("/burgers/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("DELETED ID", id);
                location.reload();
            }
        )
    })

    //this part will create a new burger
    $('#createBurger').on("submit", function (event) {
        event.preventDefault();
        var newBurger = {
            burger: $("#createBurger [name=burger]").val().trim()

        }
        $.ajax("/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new BURGER!");
                location.reload();
            }
        )
    })
    //update the burger devour boolean
    $('.eatBurger').on('click', function (event) {
        console.log("button click for DEVOUR")

        var id = $(this).data("burgerid")
        console.log("var id is: " + id)
        var updatedBurger = {
            burger: $(".eatenBurger [name=burger]").val()
        }
        console.log("var updatedBurger is: " + updatedBurger)
        $.ajax('/burgers/' + id, {
            type: 'PUT',
            data: updatedBurger
        }).then(
            function () {
                console.log('updated the id', id);
                location.reload();
            }
        )
    })
</script>